.container {
  padding: 0 30px;
  max-width: 1690px;
  margin: 0 auto;

  @media (max-width: 1720px) {
    max-width: 1380px;
  }

  @media (max-width: 1440px) {
    max-width: 1180px;
  }

  @media (max-width: 1210px) {
    max-width: 1080px;
  }

  @media (max-width: 1100px) {
    max-width: unset;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}
