.body {
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-gap: 30px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column-reverse;
  }
}
