.stickyWrapper {
  height: calc(100vh - 20px);
  position: sticky;
  top: 10px;
  overflow: hidden;
}

.filters {
  position: relative;
  background-color: white;
  padding: 20px 10px;

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Poppins";
  }

  .section {
    margin-bottom: 15px;
    padding-left: 7px;

    button {
      font-size: 16px;
    }
  }

  .sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 22px;
    margin-bottom: 8px;

    .reset {
      font-size: 18px;
      color: var(--secondary);
      cursor: pointer;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .sortButton {
    width: 35px;
    height: 35px;
    margin: 5px 0;

    img {
      max-height: 100%;
      max-width: 100%;
    }

    &.activeSort {
      background-color: skyblue;
    }
  }

  .filterButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: gray;

    img {
      width: 12px;
      height: 12px;
    }
  }
}

.drawer {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  padding: 20px 10px;
  background-color: white;
  transition: none;
}

.drawerOpen {
  left: 0;
  transition: all 0.4s ease;
}

.drawerCloseButton {
  transform: rotate(180deg);
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.drawerTitle {
  margin-bottom: 10px;
  border-bottom: 2px solid lightgray;
}

.filtersList {
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.filter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 2px;
  margin: 2px 0;

  span {
    text-align: center;
    min-width: 20px;
  }

  &.activeFilter {
    background-color: var(--secondary);
    color: white;
  }
}
