.filters {
  position: sticky;
  height: calc(100vh - 20px);
  overflow: auto;
  background-color: white;
  padding: 20px 10px;
  top: 10px;

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Poppins";
  }

  .clearButton {
    padding: 3px 7px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: 1px solid var(--primary);

    img {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .section {
    margin-bottom: 15px;
    padding-left: 7px;

    button {
      font-size: 16px;
    }
  }

  .sectionTitle {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .drawer {
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .filterItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: gray;

    img {
      width: 12px;
      height: 12px;
    }
  }

  .sortItem {
  }
}
